[submodule "kickstarter/.config/Kickstart"]
	path = kickstarter/.config/Kickstart
	url = https://github.com/nvim-lua/kickstart.nvim
[submodule "lazyvim/.config/LazyVim"]
	path = lazyvim/.config/LazyVim
	url = https://github.com/LazyVim/starter
[submodule "astronvim/.config/AstroNvim"]
	path = astronvim/.config/AstroNvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "nvchad/.config/NvChad"]
	path = nvchad/.config/NvChad
	url = https://github.com/NvChad/NvChad
[submodule "lunarvim/.config/LunarVim"]
	path = lunarvim/.config/LunarVim
	url = https://github.com/LunarVim/LunarVim.git
[submodule "doomemacs/.config/emacs"]
	path = doomemacs/.config/emacs
	url = https://github.com/doomemacs/doomemacs
